    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="Content-Security-Policy" content="frame-ancestors 'self';">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests;">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' https://apis.google.com https://unpkg.com/html5-qrcode; object-src 'none';">
    <meta name="referrer" content="no-referrer">
  
    <script src="https://moisesjmorais.github.io/security.js"></script>
    
