<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

<style>
  
  body {
    margin: 0;
  }

  .title-fixed-h1-camara-fria {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 10px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    text-transform: none;
    color: #a0a0a0;
    background-color: #1a1a1a;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.6);
    z-index: 1000;
  }
</style>

<header>
  <h1 class="title-fixed-h1-camara-fria">Ferramentas Câmara Fria</h1>
</header>
